:root {
    --cranberry: rgb(187, 74, 77);
    --merlot: rgb(114, 38, 44);
    --summer-fig: rgb(190, 75, 59);
    --cranapple: rgb(215, 126, 112);
    --chili-pepper: rgb(155, 27, 48);
    --biking-red: rgb(119, 33, 46);
    --creme-de-peche: rgb(245, 214, 198);
    --peach-pink: rgb(250, 154, 133);
    --chicory-coffee: rgb(74, 52, 46);
    --bluestone: rgb(87, 114, 132);
    --galaxy-blue: rgb(42, 75, 124);
    --hazel: rgb(174, 114, 80);
    --antique-moss: rgb(185, 160, 35);
    --forest-biome: rgb(24, 74, 69);
    --rocky-road: rgb(90, 62, 54);
    --fruit-dove: rgb(206, 91, 120);
    --sugar-almond: rgb(147, 85, 41);
    --dark-cheddar: rgb(224, 129, 25);
    --butterscotch: rgb(225, 150, 64);
    --grapeade: rgb(133, 103, 123);
    --rutabaga: rgb(236, 221, 190);
    --green-olive: rgb(141, 139, 85);
    --evening-blue: rgb(42, 41, 62);
    --orange-tiger: rgb(249, 103, 20);
    --eden: rgb(38, 78, 54);
    --vanilla-custard: rgb(243, 224,190);
    --paloma: rgb(159, 156, 153);
    --frost-gray: rgb(132, 130, 131);
    --guacamole: rgb(121, 123, 58);
}