:root {
    --red-pear: rgb(123, 53, 57);
    --valiant-poppy: rgb(188, 50, 44);
    --nebulas-blue: rgb(45, 98, 163);
    --ceylan-yellow: rgb(212, 171, 49);
    --martini-olive: rgb(113, 106, 77);
    --russet-orange: rgb(229, 118, 31);
    --ultra-violet: rgb(95, 75, 139);
    --crocus-petal: rgb(185, 155, 197);
    --limelight: rgb(243, 237, 124);
    --quetzal-green: rgb(0, 104, 101);
    --sargasso-sea: rgb(53, 67, 90);
    --tofu: rgb(233, 229, 217);
    --almond-buff: rgb(209, 184, 147);
    --quiet-gray: rgb(185, 186, 189);
    --meerkat: rgb(164, 111, 68);
}