:root {
    --meadowlark: rgb(234, 217, 78);
    --cherry-tomato: rgb(227, 65, 50);
    --little-boy-blue: rgb(108, 160, 220);
    --chili-oil: rgb(147, 71, 66);
    --pink-lavender: rgb(219, 178, 209);
    --blooming-dahlia: rgb(235, 150, 135);
    --arcadia: rgb(0, 166, 140);
    --ultra-violet: rgb(95, 75, 139);
    --emperado: rgb(104, 72, 50);
    --almost-mauve: rgb(235, 225, 223);
    --spring-crocus: rgb(188, 108, 167);
    --lime-punch: rgb(192, 215, 37);
}