:root {
    --fiery-red: #D01C1F;
    --flame-orange: #FB8B23;
    --heritage-blue: #5D96BC;
    --blush-beauty: #E57868;
    --tanger-turquoise: #91DCE8;
    --classic-blue: #0F4C81;
    --beetroot-purple: #CF2D71;
    --storm: #035453;
    --yellow-iris: #EEE78E;
    --rose-brown: #80565B;
    --blossom: #F2B2AE;
    --bossa-nova: #973A36;
    --cuban-sand: #C1A68D;
    --blueberry: #2C333E;
    --blanc-de-blanc: #E7E9E7;
    --oyster-mushroom: #C3C6C8;
}