:root {
    --flame-scarlet: #CD212A;
    --saffron: #FFA500;
    --classic-blue: #0F4C81;
    --biscay-green: #55C6A9;
    --chive: #4A5335;
    --faded-denim: #798EA4;
    --orange-peel: #FA7A35;
    --mosaic-blue: #00758F;
    --sunlight: #EDD59E;
    --coral-pink: #E8A798;
    --cinnamon-stick: #9B4722;
    --grape-compote: #6B5876;
    --lark: #B89B72;
    --navy-blazer: #282D3C;
    --brilliant-white: #EDF1FE;
    --ash: #A09998;
}