:root {
    --fiesta-red: #DC443A;
    --jester-red: #98243A;
    --pepper-stem: #8D9440;
    --pink-peacock: #C62168;
    --sweet-lilac: #E7B8D3;
    --princess-blue: #11589F;
    --tumeric: #FE840E;
    --aspen-gold: #FFD858;
    --living-coral: #FF6F61;
    --mango-mojito: #D69C2F;
    --toffee: #755139;
    --terranium-moss: #616247;
    --eclipse: #343148;
    --sweet-corn: #F2EDD7;
    --soybean: #D2C29D;
    --brown-granite: #615550;
    --lemon-verbena: #F3E779;
    --pressed-rose: #D89C9A;
}