:root {
    --blanc-de-blanc: #E7E9E7;
    --sweet-corn: #F2EDD7;
    --rutabaga: rgb(236, 221, 190);
    --creme-de-peche: rgb(245, 214, 198);
    --blossom: #F2B2AE;
    --coral-pink: #E8A798;
    --blush-beauty: #E57868;
    --crabapple: #D87168;
    --living-coral: #FF6F61;
    --cranberry: rgb(187, 74, 77);
    --summer-fig: rgb(190, 75, 59);
    --bossa-nova: #973A36;
    --brilliant-white: #EDF1FE;
    --oyster-mushroom: #C3C6C8;
    --paloma: rgb(159, 156, 153);
    --frost-gray: rgb(132, 130, 131);
    --faded-denim: #798EA4;
    --galaxy-blue: rgb(42, 75, 124);
    --navy-blue: #163E58;
    --navy-blazer: #282D3C;
    --evening-blue: rgb(42, 41, 62);
}